
/* 380-------------------------------------------------------------- */

@media (max-width: 380px) {
    .navbar-brand-box {
      display: none;
    }
  }

/* 576-------------------------------------------------------------- */

@media (min-width: 576px)
{
.mb-sm-0 {
    margin-bottom: 0 !important;
}
.d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333333%;
}

.text-sm-end {
    text-align: right !important;
}
.d-sm-block {
    display: block !important;
}
.col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
}

}

/* 600-------------------------------------------------------------- */
@media (max-width: 600px) {
    .navbar-header .dropdown {
      position: static;
    }
    .navbar-header .dropdown .dropdown-menu {
      right: 10px !important;
      left: 10px !important;
    }
  }
/* 768-------------------------------------------------------------- */

@media (min-width: 768px)
{
.col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333333%;
}

.d-md-inline-block {
    display: inline-block !important;
}
.col-md-6 {
  width: 50%;
}
.col-md-5, .col-md-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
}

/* 992-------------------------------------------------------------- */

@media (min-width: 992px)
{
.d-lg-block {
    display: block !important;
}


}


@media (max-width: 992px) {
    .vertical-menu {
      display: none;
    }
    .main-content {
      margin-right: 0 !important;
    }
    body.sidebar-enable .vertical-menu {
      display: block;
    }
  }

/* 1200-------------------------------------------------------------- */

@media (min-width: 1200px)
{
.h4, h4 {
    font-size: 1.35rem;
}
.d-xl-inline-block {
    display: inline-block !important;
}
.col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333333%;
}

}
